.button{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: rgb(16, 29, 102);
    border-radius: 1px;
    background-color: rgba(174, 184, 200, 0.444);
    
  }
  
  .button:hover {
    background-color: rgba(229, 234, 241, 0.444);

  }
  
  .button:active {
    background-color: rgba(229, 234, 241, 0.444);
    border:  0.1mm solid  rgb(16, 29, 102);
  }