.add-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 1px auto;
  }
  
  .details-invoices{

    width: 100%;
    align-content: end;
    margin: 1px auto;
  }